<form class="mt-4" name="container-form" method="POST" action="/courses/handle-form-action">
   <h3>My courses</h3>
   <a href="/me/trash/courses"> Trash {{deleteCount}}</a>

   <div class="mt-4 d-flex align-item-center">
      <div class="form-check">
         <input class="form-check-input" type="checkbox" value="" id="checkbox-all" />
         <label class="form-check-label" for="checkbox-all"> Select All </label>
      </div>
      <select class="form-control form-control-sm w-25 ms-2 me-2" name="action" aria-label="Default select example">
         <option>--Select action--</option>
         <option value="delete">Delete</option>
      </select>

      <button class="btn btn-primary btn-sm disabled btn-choose">Choose</button>
   </div>
   <table class="table mt-4">
      <thead>
         <tr>
            <th></th>
            <th scope="col">STT</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">VideoId</th>
            <th scope="col " colspan="2">CreatedAt</th>
         </tr>
      </thead>
      <tbody>
         {{#each courses}}
         <tr>
            <td>
               <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="courseIds[]" value="{{this._id}}" />
               </div>
            </td>
            <th scope="row">{{sum @index 1}}</th>
            <td>{{this.name}}</td>
            <td>{{this.description}}</td>
            <td>{{this.videoId}}</td>
            <td>{{this.createdAt}}</td>
            <td>
               <a href="/courses/{{this._id}}/edit" class="btn btn-link">Edit</a>
            </td>
            <td>
               <a
                  data-bs-toggle="modal"
                  data-bs-target="#delete-course-modal"
                  class="btn btn-link"
                  data-id="{{this._id}}"
                  >Delete</a
               >
            </td>
         </tr>
         {{else}}
         <tr>
            <td colspan="6" class="text-center">
               No course found
               <a href="/courses/create">Create one</a>
            </td>
         </tr>
         {{/each}}
      </tbody>
   </table>
</form>

{{! confirm delete }}

<!-- Modal -->
<div class="modal fade" id="delete-course-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Confirm Delete</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <div class="modal-body">This course will be deleted. Are you sure?</div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-danger">OK</button>
         </div>
      </div>
   </div>
</div>

{{!-- Delete hidden form --}}

<form method="POST" name="delete-course-form"></form>

<script>
   // select all checkbox
   const formSubmit = document.forms['container-form'];
   const checkboxAll = document.getElementById('checkbox-all');
   const checkboxes = document.querySelectorAll('input[name="courseIds[]"]');
   const submitBtn = document.querySelector('.btn-choose');
   const selectAction = document.querySelector('select[name="action"]');
   checkboxAll.onchange = () => {
      let isChecked = checkboxAll.checked;
      checkboxes.forEach((checkbox) => {
         checkbox.checked = isChecked;
      });
      renderCheckAllSubmitBtn();
   };

   checkboxes.forEach((checkbox) => {
      checkbox.onchange = () => {
         let allChecked = checkboxes.length === document.querySelectorAll('input[name="courseIds[]"]:checked').length;
         checkboxAll.checked = allChecked;
         renderCheckAllSubmitBtn();
      };
   });
   let action = true;
   selectAction.onchange = () => {
      action = selectAction.value === '--Select action--';
      renderCheckAllSubmitBtn();
   };

   function renderCheckAllSubmitBtn() {
      let checkedCount = document.querySelectorAll('input[name="courseIds[]"]:checked').length;

      if (checkedCount > 0 && !action) {
         submitBtn.classList.remove('disabled');
      } else {
         submitBtn.classList.add('disabled');
      }
   }

   formSubmit.onsubmit = (e) => {
      let isDisabled = submitBtn.classList.contains('disabled');
      if (isDisabled) {
         e.preventDefault();
      }
   };

   // send data
   const deleteModal = document.getElementById('delete-course-modal');
   const deleteForm = document.forms['delete-course-form'];
   if (deleteModal) {
      deleteModal.addEventListener('show.bs.modal', (event) => {
         // Button that triggered the modal
         const button = event.relatedTarget;
         // Extract info from data-id* attributes
         const id = button.getAttribute('data-id');

         const btnDeleteCourse = deleteModal.querySelector('.btn-danger');

         btnDeleteCourse.onclick = () => {
            deleteForm.action = '/courses/' + id + '?_method=DELETE';
            deleteForm.submit();
         };
      });
   }
</script>
